.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 71.5vw;
  height: 100vw;
  @media screen and (min-width: 600px) {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }

  position: relative;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5% / 3.5%;
  background-color: #040712;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;

  box-shadow: 
    -10px -10px 20px -5px rgb(176, 132, 150),
    10px 10px 20px -5px #ddccaa,
    0 0 30px 10px rgba(255, 255, 255, 0.2),
    0 55px 45px -20px rgba(0, 0, 0, 0.6);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
}

.card:hover {
  box-shadow: 
    -20px -20px 40px -10px rgb(176, 132, 150),
    20px 20px 40px -10px #ddccaa,
    0 0 60px 20px rgba(255, 255, 255, 0.5),
    0 55px 45px -20px rgba(0, 0, 0, 0.6);
}

.card.naincy {
  background-image: url(../../../public/images/cards/Naincy.png);
}

.card.abhijeet {
  background-image: url(../../../public/images/cards/Abhijeet.png);
}

.card.hardik {
  background-image: url(../../../public/images/cards/Hardik_Tajne.png);
}

.card.kartik {
  background-image: url(../../../public/images/cards/Kartik.png);
}

.card.taha {
  background-image: url(../../../public/images/cards/Taha.png);
}

.card.prachi {
  background-image: url(../../../public/images/cards/Prachi.png);
}

.card.shruti {
  background-image: url(../../../public/images/cards/Shruti.png);
}

.card.yugandhara {
  background-image: url(../../../public/images/cards/Yugandhara.png);
}

.card.hemanshu {
  background-image: url(../../../public/images/cards/Hemanshu.png);
}

.card.aarya {
  background-image: url(../../../public/images/cards/Aarya.png);
}

.card.vidhi {
  background-image: url(../../../public/images/cards/Vidhi.png);
}

.socials {
  display: flex;
  justify-content: center;
  position: absolute; 
    bottom: 10px;   
    margin-bottom: 3px;    
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  z-index: 10;        
}

.ig, .li, .git {
  margin: 0 10px;      
  color: white;        
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(176, 132, 150) 25%,
    transparent 47%,
    transparent 53%,
    #ddccaa 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(1.7) contrast(1.1);
  z-index: 1;
}

.card:after {
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),  
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 300% 300%;
  filter: brightness(1.7);
  z-index: 2;
}
