@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.slider-container {
  perspective: 1000px;
}

.slide {
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.centerSlide {
  transform: scale(1);
  z-index: 10;
  opacity: 1;
}

.leftSlide, .rightSlide {
  transform: scale(0.8);
  z-index: 5;
  opacity: 0.5;
}

.leftSlide {
  transform: translateX(-150%) scale(0.8);
}

.rightSlide {
  transform: translateX(150%) scale(0.8);
}

.hiddenSlide {
  display: none;
}

.circular-image {
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.text-white {
  color: white;
}