@keyframes moveRight {
  from {
    top: 30%;
    left: 0%;
    transform: translateX(-50%);
  }
  to {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
}

@keyframes showObject {
  to {
    opacity: 1; /* Make the object visible x */
  }
}

.Smackathon_footer {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 0.75rem;
  background-color: rgb(136, 112, 0);
  overflow-x: hidden;
  color: white;
}
.Footer {
  background: url("../../../public/images/footer/background_01.png");
  width: 100%;
  /* height: 500px; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

/* .background_img {
    object-fit: fill;
  } */

.dog {
  position: relative;
  /* mix-blend-mode: multiply; */
  /* filter: contrast(1.5); */
  background: transparent;
  top: 27.5rem;
  animation: showObject 4s infinite;
  animation-delay: 4s;
  opacity: 0;
}

.Duck {
  position: absolute;
  animation: moveRight 4s infinite;
  animation-delay: 0s;
}

.footerContents {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  /* align-items: center;  */
  gap: 3rem;
  /* height: 80%; */
}

.footerLeft {
  display: flex;
  flex-direction: row;
  /* margin-right: 3rem; */
  margin-left: 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logos_All {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 4rem; */
  margin-bottom: 15rem;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.upsurge_logo {
  justify-content: center;
  margin-bottom: 2rem;
}

.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* width: 80%; */
}

.Links_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  row-gap:2.5rem;
  box-sizing: border-box;
  margin-bottom: 15rem;
  font-weight: 700;
  font-size: 4rem;
}

.Links_all .link_smackathon,
.link_schedule,
.link_events,
.link_team {
  display: flex;
  row-gap: 5rem;
  gap: 2rem;
  font-size: 1.2rem;
}

.Links_all .link_smackathon:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.Links_all .link_schedule:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.Links_all .link_events:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.Links_all .link_team:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.link_team {
  z-index: 100;
}

.footerRight {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  font-weight: 500;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 2rem; */
  margin-bottom: 10rem;
}

.socials h3 {
  justify-content: center;
  flex-direction: row;
  font-size: 1.3rem;
}

.follow_us{
  margin-bottom: 1rem;
}

.social_logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social_logo a:hover {
  transform: scale(0.8);
  transition: 0.4s;
}

.find_us {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.5rem;
  margin-top: 2rem;
}
.contact_us {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  /* margin-left: 2rem; */
}
.contact_details {
  display: flex;
  /* flex-direction: column; */
  margin-top: 1rem;
  gap: 20px;
  text-align: center;
}

.parentCopyright{
  background-color: rgb(94, 77, 10);
}

.copyright {
  
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.copyrightPara {
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  /* font-size: 0.6rem; */
  row-gap: 2rem;
}

.a {
  color: white;
}
@media (min-width: 779px) and (max-width: 850px){
  .dog{
    position: relative;
    top: 26rem;
    opacity: 1;
  }
}
@media (min-width: 659px) and (max-width: 778px){
  .dog{
    position: relative;
    top: 25rem;
    opacity: 1;
  }
}

@media (max-width: 660px) {
  @keyframes moveDuck {
    from {
      top: 30%;
      left: 0;
      transform: translateX(-200%);
    }
    to {
      top: 0;
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .Footer {
    background-image: url("../../../public/images/footer/image.png");
    object-fit: contain;
    /* height: 1300px; */
    /* margin-bottom: 8rem; */
  }

  .dog {
    /* display: none; */
    top: 55.5rem;
    right: 5rem;
    position: relative;
    z-index: 0;
  }

  .Duck {
    /* display: none; */
    position: relative;
    top: 0.5rem;
    animation: moveDuck 4s infinite;
    /* overflow-x: hidden; */
  }

  .footerContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5rem; */
  }

  .footerLeft{
  margin-right: 0;
}
  .logos_All {
    margin-left: 0;
    margin-bottom: 0;
  }

  .link_team {
    z-index: 100;
  }

  .footerCenter {
    flex-direction: column;
  }

  .Links_all {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom:5rem ;
    margin-top: 2rem;
    row-gap: 2rem;
    position: relative;
    top: 3rem;
  }

  .footerRight {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    
  }
  .socials{
    margin-top: 10rem;
    margin-bottom: 3rem;
    z-index: 100;
  }
  .social_logo{
    margin-top: 0.5rem;
  }

  .find_us {
    margin-top: 1rem;
    /* position: relative; */
    /* top: 2rem; */
  }
  .contact_us {
    margin-top: 0.25rem;
    position: relative;
    top: 2rem;
  }
  .contact_details{
    margin-top: 1rem;
  }
  .copyright {
    /* margin-top: 25rem; */
    text-align: center;
  }

  .copyrightPara{
    margin-top: 1rem;
  }
}
