.fontglow {
  text-shadow: 0 0 5px rgba(27, 253, 156, 0.3), 0 0 10px rgba(27, 253, 156, 0.3),
    0 0 15px rgba(27, 253, 156, 0.3), 0 0 20px rgba(27, 253, 156, 0.3),
    0 0 35px rgba(27, 253, 156, 0.3), 0 0 40px rgba(27, 253, 156, 0.3);
}

/* Button Variant 2 */
.button {
  display: flex;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
  box-shadow: inset 0 0 15px rgba(27, 253, 156), 0 0 9px 3px rgba(27, 253, 156);
  transition: all 0.8s;
}

.box {
  /* width: 35px; */
  /* height: 40px; */
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 8px; */
  font-weight: bold;
  /* color: #1bfd9c; */
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  /* border-radius: 4px; */
  /* background: #42ab49; */
  /* background-color: #1bfd9c; */
  /* background: #15e564;  LOGO BORDER */
  /* background: #70cf6f; */
  /* background: linear-gradient(
    to right,
    rgba(27, 253, 156) 1%,
    rgba(27, 253, 156) 100%
  ); */
  overflow: hidden;
}

.box:before {
  content: " ";
  position: absolute;
  top: 0;
  background: rgba(34, 34, 34);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: " ";
}

.box:nth-child(3)::before {
  content: "N";
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "O";
}

.box:nth-child(5)::before {
  content: "W";
}

.box:nth-child(6)::before {
  transform: translateY(-100%);
  content: "!";
}
.box:nth-child(7)::before {
  content: " ";
}
.box:nth-child(8)::before {
  transform: translateY(-100%);
  content: " ";
}

.button:hover {
  box-shadow: inset 0 0 15px rgba(27, 253, 156, 0.7),
    0 0 15px 8px rgba(27, 253, 156, 0.7);
}

.button:hover .box:before {
  transform: translateY(0);
}

.button:hover .box1:before {
  transform: translateY(0);
}
