/* body {
  height: 100vh;
  display: grid;
  place-items: center;
} */

/* Button Variant 1 */
/* .button {
    position: relative;
    padding: 16px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background-color: #38ef7d;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #38ef7d 20%, transparent 30%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #38ef7d 15%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #38ef7d 15%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%),
      radial-gradient(circle, #38ef7d 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  } */

/* Button Variant 2 */
.button {
  display: flex;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.6);
  transition: all 0.8s;
}

.box,
.box1 {
  /* width: 35px; */
  /* height: 40px; */
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 8px; */
  font-weight: bold;
  /* color: #1bfd9c; */
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  /* border-radius: 4px; */
  /* background: #42ab49; */
  /* background-color: #1bfd9c; */
  /* background: #15e564;  LOGO BORDER */
  /* background: #70cf6f; */
  /* background: linear-gradient(
    to right,
    rgba(27, 253, 156) 1%,
    rgba(27, 253, 156) 100%
  ); */
  overflow: hidden;
}

.box:before {
  content: " ";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: " ";
}

.box:nth-child(3)::before {
  content: "N";
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "O";
}

.box:nth-child(5)::before {
  content: "W";
}

.box:nth-child(6)::before {
  transform: translateY(-100%);
  content: "!";
}
.box:nth-child(7)::before {
  content: " ";
}
.box:nth-child(8)::before {
  transform: translateY(-100%);
  content: " ";
}

.box1:before {
  content: "B";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box1:nth-child(2)::before {
  transform: translateY(-100%);
  content: "R";
}

.box1:nth-child(3)::before {
  content: "O";
}

.box1:nth-child(4)::before {
  transform: translateY(-100%);
  content: "C";
}

.box1:nth-child(5)::before {
  content: "H";
}

.box1:nth-child(6)::before {
  transform: translateY(-100%);
  content: "U";
}
.box1:nth-child(7)::before {
  content: "R";
}
.box1:nth-child(8)::before {
  transform: translateY(-100%);
  content: "E";
}

.button:hover {
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.5),
    0 0 9px 5px rgba(27, 253, 156, 0.5);
}

.button:hover .box:before {
  transform: translateY(0);
}

.button:hover .box1:before {
  transform: translateY(0);
}

/* Button Variant 3 */
/* .btn {
    width: 140px;
    height: 50px;
    background: #b0ead7;
    color: #000;
    border-radius: 2px;
    background-size: 400%;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }
  
  .btn-content {
    position: relative;
    z-index: 1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, #11998e, #38ef7d);
    transition: all 0.475s;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-50%);
    transform: scaleX(0);
    transform-origin: 0 -50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg, #11998e, #38ef7d);
    transition: all 0.475s;
  }
  
  .btn:hover::before {
    transform: scaleX(0.5);
  }
  
  .btn:hover::after {
    transform: scaleX(-0.5);
  } */

/* Button Variant 4 */
.buttondb {
  --green: #1bfd9c;
  --brown: #59402a;
  font-size: 15px;
  padding: 0.7em 1.4em;
  /* letter-spacing: 0.06em; */
  position: relative;
  font-family: inherit;
  /* border-radius: 0.6em; */
  overflow: hidden;
  transition: all 0.3s;
  /* line-height: 1.4em; */
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.buttondb:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.buttondb:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.buttondb:hover:before {
  transform: translateX(15em);
}

.btndownload {
  width: 210px;
  height: 80px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #31ae1f;
  border: 0;
  position: relative;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.btndownload:hover {
  cursor: pointer;
}

.btndownload:after,
.btndownload:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzcsIDE3NiwgNykiIC8+PC9zdmc+")
      top left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQxLCAyNTMsIDkyKSIgLz48L3N2Zz4=")
      top right no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTgsIDg4LCAzKSIgLz48L3N2Zz4=")
      bottom left no-repeat,
    url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzYsIDE4MCwgNikiIC8+PC9zdmc+")
      bottom right no-repeat;
}

.btndownload:before {
  background: none;
  border-top: 4px solid #64fd1f;
  border-bottom: 4px solid #1e8c03;
  border-left: 4px solid #156c00;
  border-right: 4px solid #47d009;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
}

.minecraftbutton {
  /* background-color: #3b8526; */
  background-color: #59402a;
  /* background: url(/images/prize/bgbtn.jpeg);
  background-position: center;
  background-size: cover; */
  color: #ffffff;

  /* entfernt Unterstreichung */
  text-decoration: none;

  /* abstand zwischen Text und Hintergrundfarbe */
  padding: 20px 40px;

  /* macht Text in Großbuchstaben */
  text-transform: uppercase;

  /* Schriftart ändern */
  font-family: "Noto Sans", sans-serif;

  /* fette Schrift buahaha */
  font-weight: bold;

  /* Buchstaben bissi außeinander */
  letter-spacing: 1px;

  /* deswegen halt */
  display: inline-block;

  /* minecraft Schatten */
  box-shadow: inset 0 4px #4e2f20, inset 0 -4px #2a1810,
    0 4px rgba(0, 0, 0, 0.25);

  /* box-shadow: inset 0 40px 30px #333; */

  text-shadow: 0 1px 0 #2a1810;

  /* übergangsanimation */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* wenn isch mit der maus drüber fahre */
.minecraftbutton:hover {
  background-color: #171615;

  /* dezenter Verlauf */
  background-image: linear-gradient(#3d3938, #171615);

  /* noch dezenterer Text Schatten */
  text-shadow: 0 1px 0 #000;

  box-shadow: inset 0 0 0 2px #1157be;

  /* weißer umriss außerhalb vom schatten*/
  outline: 0.063rem solid #fff;
}

.btndb {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40b3a2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btndb:hover {
  opacity: 0.95;
}

.btndb .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.btnfinale {
  padding: 12px 24px;
  font-size: 10px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.btnfinale:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #6e6e6e !important;
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.btnfinale:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.btnfinale:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.btnfinale:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.btnfinale:active {
  transform: translateY(4px);
}

.btnfinale:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

/* .btnfinal {
  background-color: #b02940;
  padding: 12px 24px;
  box-shadow: ;
} */
