@keyframes chase {
	0% {
	  top: -25px;
	  left: -25px;
	}
	25% {
	  top: -25px;
	  left: calc(100% - 15px);
	}
	50% {
	  top: calc(100% - 15px);
	  left: calc(100% - 15px);
	}
	75% {
	  top: calc(100% - 15px);
	  left: -25px;
	}
	100% {
	  top: -25px;
	  left: -25px;
	}
  }
  
  @keyframes chase-reverse {
	0% {
	  top: -25px;
	  left: -25px;
	}
	25% {
	  top: calc(100% - 15px);
	  left: -25px;
	}
	50% {
	  top: calc(100% - 15px);
	  left: calc(100% - 15px);
	}
	75% {
	  top: -25px;
	  left: calc(100% - 15px);
	}
	100% {
	  top: -25px;
	  left: -25px;
	}
  }
  
  @keyframes pac-move {
	0% {
	  top: -25px;
	  left: -25px;
	  transform: scale(1);
	}
	25% {
	  top: -25px;
	  left: calc(100% - 10px);
	  transform: scale(1);
	}
	50% {
	  top: calc(100% - 10px);
	  left: calc(100% - 10px);
	  transform: scale(1);
	}
	75% {
	  top: calc(100% - 10px);
	  left: -25px;
	  transform: scale(1);
	}
	100% {
	  top: -25px;
	  left: -25px;
	  transform: scale(1);
	}
  }
  
  
  @keyframes pac-move-reverse {
	0% {
	  top: 25px;
	  left: -25px;
	  transform: scale(1);
	}
	25% {
	  top: calc(100% - 15px);
	  left: -25px;
	  transform: scale(1);
	}
	50% {
	  top: calc(100% - 15px);
	  left: calc(100% - 15px);
	  transform: scale(1);
	}
	75% {
	  top: -25px;
	  left: calc(100% - 15px);
	  transform: scale(1);
	}
	100% {
	  top: -25px;
	  left: -25px;
	  transform: scale(1);
	}
  }
  
  @keyframes pac-rotate {
	0% {
	  transform: rotate(0deg);
	}
	25% {
	  transform: rotate(90deg);
	}
	50% {
	  transform: rotate(180deg);
	}
	75% {
	  transform: rotate(270deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes pac-rotate-reverse {
	0% {
	  transform: rotate(90deg);
	}
	25% {
	  transform: rotate(0deg);
	}
	50% {
	  transform: rotate(-90deg);
	}
	75% {
	  transform: rotate(-180deg);
	}
	100% {
	  transform: rotate(-360deg);
	}
  }

  @keyframes pac-eat {
	50% {
	  border-bottom: 0 solid transparent;
	  border-top: 0 solid transparent;
	  right: -3.75px;
	  top: 20.5px;
	}
  }
  

  .heading {
	color: white;
	font-weight: bold;
	font-size: 2rem;
	margin-top: 1.25rem;
	text-align: center;
  }
  
  .pacman {
	animation: pac-move 35s infinite linear, pac-rotate 35s infinite step-end;
	background: #fffc07;
	border-radius: 100%;
	height: 30px;
	position: absolute;
	width: 30px;
  }
  
  .pacman.reverse {
	animation: pac-move-reverse 35s infinite linear,
	  pac-rotate-reverse 35s infinite step-end;
	  animation-delay: 4.5s;
  }
  
  .mouth {
	animation: pac-eat 0.7s infinite;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 15px solid #000;
	border-radius: 0 100% 100% 0;
	position: absolute;
	right: -1px;
	top: -5px;
	z-index: 3;
  }
  
  .ghost {
	animation: chase 35s infinite linear;
	background: #ff0000;
	border-radius: 50% 50% 0 0;
	height: 30px;
	position: absolute;
  animation-delay: 1.2s ;
	width: 30px;
  }
  
  .ghost.reverse {
	animation: chase-reverse 35s infinite linear;
  }
  
  .ghost:nth-child(1) {
	animation-delay: 1.7s;
  }
  
  .ghost:nth-child(2) {
	animation-delay: 2.4s;
  }
  
  .ghost:nth-child(3) {
	animation-delay: 3.7s;
  }
  .ghost:nth-child(4) {
	animation-delay: 5s;
  }
  
  .ghost.reverse:nth-child(1) {
	animation-delay: 0.5s;
  }
  
  .ghost.reverse:nth-child(2) {
	animation-delay: 1s;
  }
  
  .ghost.reverse:nth-child(3) {
	animation-delay: 2s;
  }
  .ghost.reverse:nth-child(4) {
	animation-delay: 3s;
  }
  
  .ghost .eye {
	background: #fff;
	border-radius: 50%;
	height: 10px;
	position: relative;
	width: 10px;
  }
  
  .ghost .pupil {
	background: #0000ff;
	border-radius: 50%;
	height: 4px;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 4px;
  }
  
  .ghost .leg {
	border: 4px solid #ff0000;
	border-top: transparent;
	width: 0;
	height: 0;
  }
  
  .ghost .skirt {
	position: absolute;
	bottom: 0;
	left: 12px;
	width: 8px;
	height: 8px;
	background-color: red; /* Default color */
	border-radius: 50%;
	border: 2px solid transparent;
  }
  
  .blinky {
	background-color: red;
  }
  
  .pinky {
	background-color: pink;
  }
  
  .inky {
	background-color: cyan;
	
  }
  
  .clyde {
	background-color: orange;
  }
  @keyframes text-appear {
	0% {
	  opacity: 0;
	  transform: translateY(20px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .welcome {
	animation: text-appear 0.5s ease forwards;
  }
  
  .hidden {
	display: none;
  }

  .checkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .checkbox {
	display: none;
  }
  
  .checkbox:checked + .checkStick::before {
	transform: rotate(30deg);
  }
  
  .checkbox:checked + .checkStick::after {
	transform: translateX(30px);
  }
  
  .checkbox:not(:checked) + .checkStick::before {
	transform: rotate(-30deg);
  }
  
  .checkbox:not(:checked) + .checkStick::after {
	transform: translateX(-30px);
  }
  
  .checkStick {
	position: relative;
	width: 100px;
	height: 20px;
	border-radius: 8px;
	background-color: #2121ff;
	cursor: pointer;
	transition: 0.2s;
  }
  
  .checkStick:hover {
	opacity: 0.8;
  }
  
  .checkStick::before,
  .checkStick::after {
	content: "";
	position: absolute;
	transition: 0.3s ease-in-out;
  }
  
  .checkStick::before {
	bottom: 10px;
	left: calc(55% - 7px);
	height: 50px;
	width: 10px;
	border: 4px solid #222;
	border-radius: 10px;
	background-color: #2121ff;
	transform-origin: bottom center;
  }
  
  .checkStick::after {
	top: -50px;
	left: calc(60% - 22px);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 4px solid #222;
	background-color: #f00;
  }
  
  .frame {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	width: 250px;
	height: 100px;
	margin-top: 10px;
	border-radius: 20px;
	border: solid 4px #2121ff;
  }
  
  .frame::before {
	content: "";
	position: absolute;
	top: 4px;
	width: calc(100% - 2px * 4);
    height: calc(100% - 2px * 4);
	border-radius: 13.3333333333px;
	border: solid 4px #2121ff;
  }
  
  .imageSize {
	height: 90%;
	width: 100%;
	/* background-image: url("src/assets/images/image.png"); */
	background-position: center;
	background-size: cover;
	position: relative;
  }