@keyframes slideUp1 {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
    }
    4.5%, 12.5% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
    }
    17%, 25% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    29.5%, 37.5% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
    }
    42%, 50% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
    }
    54.5%, 62.5% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
    }
    67%, 75% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
    }
    79.5%, 87.5% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
    }
  }
  
  @keyframes slideUp2 {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
    }
    5%, 20% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
    }
    25%, 40% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    45%, 60% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
    }
    65%, 100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
    }
  }
  
  .slideUp1 {
    animation: slideUp1 24s linear infinite;
  }
  
  .slideUp2 {
    animation: slideUp2 15s linear infinite;
  }
  