.Body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamName {
  text-shadow: 
  0 0 0px #fff, 0 0 2px #fff, 0 0 0px #fff, 0 0 40px #fff, 0 0 16px #fff;
    text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.cards {
  width: 80%;
  gap: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5% / 3.5%;
  background-color: #040712;
  /* background-image: var(--front); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  
  /* Flexbox settings */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Pushes content to the bottom */
}

@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card:hover {
  box-shadow: -20px -20px 40px -10px var(--color1), 20px 20px 40px -10px var(--color2),
    0 0 60px 20px rgba(255, 255, 255, 0.5), 0 55px 45px -20px rgba(0, 0, 0, 0.6);
}

.cardContent {
  display: flex;
  align-items: flex-end;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto; /* Pushes .socials to the bottom of the card */
  margin-bottom: 16px;
  z-index: 10; /* Brings the socials div on top of the card */
  position: relative;
}

.ig,
.li,
.git {
  display: flex;
  justify-content: space-between;
  color: black;
  
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(176, 132, 150) 25%,
    transparent 47%,
    transparent 53%,
    #ddccaa 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(1.7) contrast(1.1);
  z-index: 1;
}

.card:after {
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  filter: brightness(0.2) contrast(1.8);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.85;
  z-index: 2; /* Ensures that this is below the socials div */
}

.card.active:after,
.card:hover:after {
  filter: brightness(1.3) contrast(1.2);
  opacity: 1;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}


/* Core team  */
.card.naincy {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Naincy.png');
  /* --front: var(--naincyfront); */
}
.card.abhijeet {
  --color1: #54a29e;
  --color2: #a79d66;
  /* --front: var(--abhijeetfront); */
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Abhijeet.png');
}
.card.hardik {
  --color1: #54a29e;
  --color2: #a79d66;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Hardik_Tajne.png');
}

.card.kartik {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Kartik.png');
}

.card.taha {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Taha.png');
}

.card.PrachiPattewar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Prachi.png');
}

.card.ShrutiJain {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Shruti.png');
}

.card.YugandharaJagtap {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Yugandhara.png');
}

.card.HemanshuWaghmare {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Hemanshu.png');
}

.card.AaryaAherrao {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Aarya.png');
}

.card.VidhiSatpute {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vidhi.png');
}

/* Technical Team  */
.card.DivyanshSharma {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Divyansh.png');
}

.card.HarshalTonge {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Harshal.png');
}

.card.UnnatiThakre {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Unnati.png');
}

.card.MehulKohad {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url('https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Mehul.png');
}

.card.LokeshParate {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Lokesh.png");
}
.card.VidhanDahatkar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vidhan.png");
}

.card.SuyashBorikar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Suyash.png");
}

.card.OmMane {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Om.png");
}

.card.LaukikLanje {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Laukik.png");
}

.card.SaniyaBorkar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Saniya.png");
}

/* Design team */
.card.RitikaAnantwar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Ritika.png");
}
.card.SanchiDhoke {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Sanchi.png");
}
.card.VinayMuraskar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vinay.png");
}
.card.ChitrakshChavan {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Chitraksh.png");
}
.card.AbhishekPaitode {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Abhishek.png");
}
.card.IshitaBoldhane {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Ishita.png");
}
.card.AdityaRajankar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Aditya.png");
}

/* Event Management Team */
.card.KrishnaBobade {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Krishna.png");
}
.card.PranjalHatwar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Pranjal.png");
}
.card.KaranKangali {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Karan.png");
}
.card.ParasKalbande {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Paras.png");
}
.card.SargamKamble {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Sargam.png");
}
.card.DeepanshuNandanwar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Deepanshu.png");
}
.card.GurudattaBidkar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Gurudatta.png");
}

/* Cultural team */
.card.VaidehiNarkhede {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vaidehi.png");
}
.card.NayanMudewar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Nayan.png");
}
.card.RichaKalpande {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Richa.png");
}
.card.AyushAsutkar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Ayush.png");
}

/* Sponsorship Team */
.card.AnshAnthal {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Ansh1.png");
}
.card.AnshulRaut {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Anshul.png");
}
.card.AvantiRaut {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Avanti.png");
}
.card.AnshShriwas {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Ansh2.png");
}
.card.SakshiKathane {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Sakshi.png");
}
.card.KhushiNannore {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Khushi.png");
}
.card.ShreyaKashyap {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Shreya.png");
}
.card.VinitSingh {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vinit.png");
}
.card.OmRusia {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Om2.png");
}
.card.AmanTonpe {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Aman.png");
}
.card.DhruvMunghate {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Dhruv.png");
}
.card.ShashankMankar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Shashank.png");
}
.card.AaditiBedarkar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Aaditi.png");
}
.card.JagdishKachhawah {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Jagdish.png");
}
.card.HrishikeshKakde {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Hrishikesh.png");
}
.card.ShantanuNichante {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Shantanu.png");
}

/* Literature Team */
.card.RadhikaKimmatwar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Radhika.png");
}
.card.DevkiParajiya {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Devki.png");
}
.card.GayatriUmap {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Gayatri.png");
}
.card.RayeeWasankar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Rayee.png");
}
/* Art team */
.card.SharwariHatwar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Sharwari.png");
}
.card.MrunalJagtap {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Mrunal.png");
}
.card.NishitaDande {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Nishita.png");
}
/* Sports Team */
.card.VipinKumar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vipin.png");
}
.card.VedantRaut {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Vedant.png");
}
.card.SujalNagpure {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Sujal.png");
}
.card.YatharthHadke {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Yatharth.png");
}
.card.KrushnangiManekar {
  --color1: rgb(176, 132, 150);
  --color2: #ddccaa;
  background-image: url("https://upsurge2k24.s3.ap-south-1.amazonaws.com/teams/Krushnangi.png");
}
  
  @keyframes holoSparkle {
    0%, 100% {
      opacity: .85; background-position: 50% 50%; filter: brightness(1.3) contrast(1.3);
    }
    5%, 8% {
      opacity: 1; background-position: 40% 40%; filter: brightness(.9) contrast(1.2);
    }
    13%, 16% {
      opacity: .7; background-position: 50% 50%; filter: brightness(1.2) contrast(.9);
    }
    35%, 38% {
      opacity: 1; background-position: 60% 60%; filter: brightness(1.1) contrast(1.1);
    }
    55% {
      opacity: .5; background-position: 45% 45%; filter: brightness(1.3) contrast(1.3);
    }
  }
  
  @keyframes holoGradient {
    0%, 100% {
      opacity: 0.6;
      background-position: 50% 50%;
      filter: brightness(.7) contrast(1);
    }
    5%, 9% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.9) contrast(1.3);
    }
    13%, 17% {
      background-position: 0% 0%;
      opacity: .95;
    }
    35%, 39% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.7) contrast(1);
    }
    55% {
      background-position: 0% 0%;
      opacity: 1;
      filter: brightness(.9) contrast(1.3);
    }
  }
  
  @keyframes holoCard {
    0%, 100% {
      transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%, 8% {
      transform: rotateZ(0deg) rotateX(8deg) rotateY(-25deg);
    }
    13%, 16% {
      transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%, 38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
      transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
}
}   
