.parentfooter {
  padding: 0;
  margin: 0;
  border: none;
}
.Smackathon_footer {
  background-color: rgb(136, 112, 0);
}
.Footer {
  background: url("../components/footer/assets/background_01.png");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.background_img {
  object-fit: fill;
}

.dog {
  width: 100px;
  mix-blend-mode: multiply;
  filter: contrast(1.5);
  position: relative;
  top: 23.4rem;
}

.footerContents {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.footerRight,
.footerCenter {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}

.footerLeft {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logos_All {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.acm {
  padding: 1px;
}

.copyright {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.copyright .copyrightPara {
  margin-bottom: 2rem;
  text-align: center;
}

.a {
  color: white;
}

@media (max-width: 850px) {
  .Footer {
    background-image: url("../components/footer/assets/background.png");
    object-fit: contain;
    height: 1260px;
  }

  .dog {
    top: 51rem;
  }

  .footerContents {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footerCopyright {
    text-align: center;
  }
}
